on: [push]
name: CI
jobs:
  runsml:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Debian packages
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y make

      - uses: diku-dk/install-mlton@v1.0.0
      - uses: diku-dk/install-mlkit@v1.0.1
      - uses: diku-dk/install-futhark@v1.1.0

      - name: Check
        run: |
          mlton
          mlkit --version
          futhark --version

      - run: |
          make run_test

  build_html:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v2

      - name: Install Debian packages
        run: |
          sudo apt-get -qq update
          sudo apt-get install -y groff

      - name: Install Debian packages
        run: |
          groff -Tpdf -m mdoc ./smlfut.1 > smlfut.pdf

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Manpage"
          files: |
            smlfut.pdf
